/* ESTILOS PARA MANTENER UN STANDART DE CONFIGURACION GLOBAL */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'DM Sans', sans-serif;
    font-size: 62.5%;
}

body{
    background-color: #F5F5F5;
}

/* ---------------------------------------- */