.NavBar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    border-bottom: 1px solid #E2E2E2;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    background-color: white;
}

.NavBar-menu-container{
    padding-top: 6px;
    width: 32px;
}

.NavBar-menu-image{
    width: 100%;
}

.NavBar-menu-image:hover{
    cursor: pointer;
}

.NavBar-logo-container{
    display: flex;
    align-items: center;
}

.NavBar-logo-container:hover{
    cursor: pointer;
}

.NavBar-logo-image{
    width: 25px;
}

.NavBar-logo-title{
    color:black;
    font-size: 2rem;
    font-weight: bold;
    margin: 0px 10px;
    padding-top: 3px;
}

.NavBar-logo-wrapper:active{
    color:black;
    text-decoration: none;
}

.NavBar-logo-wrapper:visited{
    color:black;
    text-decoration: none;
}

.NavBar-logo-wrapper:link{
    color:black;
    text-decoration: none;
}


.NavBar-cart-container{
    padding-top: 6px;
    width: 28px;
}

.NavBar-cart-image{
    width: 100%;
}

.NavBar-cart-image:hover{
    cursor: pointer;
}

.NavBar-cart-counter{
    width: 19px;
    height: 19px;
    border-radius: 50%;
    position: fixed;
    top: 14px;
    right: 20px;
    background-color: #53b175;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    cursor:pointer;
}