.ProductList-container{
    margin-top: 60px;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    justify-items: center;
    align-items: center;
    padding: 10px;
}

@media (min-width: 768px){
    .ProductList-container{
        grid-template-columns: 1fr 1fr 1fr;
        gap:40px;
    }
}

@media (min-width: 850px){
    .ProductList-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap:40px;
    }
}

@media (min-width: 1024px){
    .ProductList-container{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap:40px;
    }
}

@media (min-width: 1440px){
    .ProductList-container{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap:40px;
    }
}