.Cart-product-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 157px;
    padding: 30px 25px;
    border-bottom: 1px solid #E2E2E2;
}

.Cart-product-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    overflow: hidden;
}

.Cart-product-image{
    width: 100%;
    border-radius: 5px;
}

.Cart-product-body-container{
    display: flex;
    flex-direction: column;
    margin:auto;
}

.Cart-product-body-info-title{
    font-size: 1.6rem;
    color:black;
    font-weight: bold;
    margin-bottom: 4px;
}

.Cart-product-body-info-category{
    font-size: 1.4rem;
    color: #7C7C7C;
    margin-bottom: 12px;
}

.Cart-product-body-count-container{
    display: flex;
    align-items: center;
}

.Cart-product-body-count-number{
    display: inline-block;
    text-align: center;
    width: 42px;
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: bold;
    color:black;
}

.Cart-product-options-container{
    display: flex;
    width: 57px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.Cart-product-options-price{
    font-size: 1.8rem;
    color:black;
    font-weight: bold;
    padding-bottom: 6px;
}